

.header{
  font-weight: bold;
}
.main-heading{
  text-align: center;


}
.main-heading h1{
  font-size: 64px;
  font-family: "roboto slab";
  background-color: #17a2b8;
  padding:40px;
  font-weight: bold;
  color:white;
}

.nav-link a{
  margin:0;
  color:black;
}
.nav-link a:hover{
  background-color: #d1ecf1  
}